*{
    margin: 0;
    padding: 0;
}


/*
container

display: flex;
justify-content: center; */




.flex-container{
    background-color: crimson;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    width: 1130px;
}
.flex-item a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    
}
.flex-item a:hover{
    color: black ;
    
}
.flex-slider{
    display: flex;
    /* height: 500px; */
    width: 1150px;
    border: 1px solid #000;
}
.item1 img{
    width: 575px;
    height: 500px;
}
.item2 img{
    height: 500px;
    width: 575px;
}